
@-webkit-keyframes peek {
  0% {
    background-position-x: 300px;
    opacity: 1;
  }

  30% {
    background-position-x: 140px;
    opacity: 1;
  }

  100% {
    background-position-x: 140px;
    opacity: 0;
  }

}

@-webkit-keyframes wink-appear {
  0% {
    background-position-x: 300px;
    opacity: 0;
  }

  12% {
    background-position-x: 140px;
    opacity: 0;
  }

  40% {
    background-position-x: 140px;
    opacity: 1
  }

  75% {
    background-position-x: 0px;
    opacity: 1;
  }

  100% {
    background-position-x: 300px;
    opacity: 1;
  }
}

@-webkit-keyframes spin-spin {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(1080deg); }
}

@keyframes rubber-band {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes slide-across {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  10% {
    transform:  translate3d(-25%, 0, 0);
  }

  100% {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}


@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}
