/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

 body {
  font-family: 'Montserrat', sans-serif;
  background-color: #D2E4E9;
  font-size: 25px;
  &:before {
    box-shadow: 0 0 17px rgba(0,0,0,.7);
    top: -13px;
  }

  &:after {
    box-shadow: 0 -10px 17px rgba(0,0,0,.7);
    bottom: -20px;
  }

  &:after, &:before {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
  }
 }

/* separate than hide b/c used to control displaying images through
   easter egg animations */
.hidden {
  display: none;
}

.right {
  float: right;
}
