/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.aj-bitmoji {
  height: 400px;
  width: 400px;
  background: url('aj.png');
  margin: auto;
  &.left {
    background: url('aj_left.png');
  }

  &.right {
    background: url('aj_right.png');
  }

  &.spit {
    background: url('aj_spit.png');
  }

  &.wink {
    background: url('aj_winking.png');
  }

  &.devil {
    background: url('aj_devil.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: spin-spin 2s 1;
  }

  &.heart {
    background: url('aj_heart.png');
    -webkit-animation: rubber-band 2s 1;
  }
}

.black {
  background-color: black;
}

.peeking {
  -webkit-animation: peek 2s 1;
  float: right;
  background: url('aj_peeking.png');
  background-position-y: 0px;
  background-position-x: 300px;
  background-repeat-x: no-repeat;
  position: absolute;
  right: 0px;
  top: 50px;
  height: 300px;
  width: 300px;
  background-size: 300px;
  opacity: 0;
}


.winking {
  -webkit-animation: wink-appear 5s 1;
  float: right;
  background: url('aj_winking.png');
  background-position-y: 0px;
  background-position-x: 300px;
  background-repeat-x: no-repeat;
  position: absolute;
  right: 0px;
  top: 50px;
  height: 300px;
  width: 300px;
  background-size: 300px;
  opacity: 0;
}
