/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

 body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(256, 256, 256, 0);
  font-size: 25px;
  &:before {
    box-shadow: 0 0 17px rgba(0,0,0,.7);
    top: -13px;
  }

  &:after {
    box-shadow: 0 -10px 17px rgba(0,0,0,.7);
    bottom: -20px;
  }

  &:after, &:before {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
  }
 }

/* separate than hide b/c used to control displaying images through
   easter egg animations */
.hidden {
  display: none;
}

.aj-bitmoji {
  height: 300px;
  width: 300px;
  margin: auto;

  img {
    height: 300px;
    width: 300px;
    &.heart {
      -webkit-animation: rubber-band 2s 1;
    }
  }

  &.spit {
    background: image_url('bitmoji/aj_spit.png');
  }

  &.wink {
    background: image_url('bitmoji/aj_winking.png');
  }

  &.devil {
    background: image_url('bitmoji/aj_devil.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: spin-spin 2s 1;
  }
}

.popping-up {
  position: absolute;
  bottom: 0px;
  left: 50px;
  height: 200px;
  width: 200px;
  background: image_url('bitmoji/aj_popup.png');
  background-size: 200px;
  background-position: center 200px;
  background-repeat: no-repeat;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;

  &:hover {
    background-position: center 0px;
  }
}

.black {
  background-color: black;
}

.peeking {
  -webkit-animation: peek 2s 1;
  float: right;
  background: image_url('bitmoji/aj_peeking.png');
  background-position-y: 0px;
  background-position-x: 300px;
  background-repeat-x: no-repeat;
  position: absolute;
  right: 0px;
  top: 50px;
  height: 300px;
  width: 300px;
  background-size: 300px;
  opacity: 0;
}


.winking {
  -webkit-animation: wink-appear 5s 1;
  float: right;
  background: image_url('bitmoji/aj_winking.png');
  background-position-y: 0px;
  background-position-x: 300px;
  background-repeat-x: no-repeat;
  position: absolute;
  right: 0px;
  top: 50px;
  height: 300px;
  width: 300px;
  background-size: 300px;
  opacity: 0;
}

.superman {
  background: image_url('bitmoji/aj_superman.png');
  background-position-y: center;
  background-position-x: center;
  background-repeat-x: no-repeat;
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-size: 100px;
  opacity: 1  ;
}

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-ease-out;
}
