.social-icon {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
}

.twitter { background:url(icons/twitter.png) no-repeat; }
.facebook {  background:url(icons/facebook.png) no-repeat; }
.instagram { background:url(icons/instagram.png) no-repeat; }
.linkedin { background:url(icons/linkedin.png) no-repeat; }
.snapchat { background:url(icons/snapchat.png) no-repeat; }
.github { background:url(icons/github.png) no-repeat; }
.soundcloud { background:url(icons/soundcloud.png) no-repeat; }
.mail { background:url(icons/mail.png) no-repeat; }


.icon {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.down {
  background-image: url(icons/down-gray.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.down:hover {
  background-image: url(icons/down.png);
}
