section {
  &:not(#splash) {
    background-color: #D2E4E9;
    min-height: 100vh;
  }

  &#projects {
    width: 100%;
    margin: auto;
    text-align: center;

    .projects-container {
      width: 60%;
      margin: auto;

      &::after {
         content: " ";
         display: block;
         height: 0;
         clear: both;
      }
    }
  }

  &#splash {
    min-height: 100vh;

    .footer {
      padding-top: 30px;
    }

    .icon.down {
      margin: auto;
      margin-top: 25px;
      cursor: pointer;
    }

  }
}

.menu {
  padding-top: 15px;
  padding-right: 10px;
  color: black;
  font-size: 20px;


  a {
    color: black;
    padding-right: 5px;
    text-decoration: none !important;

    &:active, &:visited {
      color: black;
    }

    &:hover {
      text-decoration: none;
      color: #333333;
    }
  }

  .easter-egg-counter {
    display:inline-block;
  }
}


.main-text {
  width: 50%;
  padding: 50px 50px 20px 50px;
  background-color: rgba(256, 256, 256, 0.5);
  margin: auto;
}


.page-footer {
  height: 25px;
  background-color: #D2E4E9;
}

.project {
  width: 45%;
  float: left;
  height: 300px;
  background-color: rgba(256, 256, 256, 0.5);
  margin: 2%;
  cursor: pointer;

  &:hover {
    background-color: rgba(256, 256, 256, 0.7);
  }

  &.selected {
    background-color: rgba(256, 256, 256, 1);

    &:hover {
      background-color: rgba(256, 256, 256, 1);

    }
  }

  img {
    margin: auto;
    max-width: 75%;
    max-height: 75%;
  }

  .logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    font-weight: bold;
  }
}

.project-description {
  padding: 25px;
  width: 94%;
  float: left;
  background-color: rgba(256, 256, 256, 1);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: .7em;

  .tagline {
    font-size: 1.1em;
    padding-bottom: 5px;
  }


  .description {
    text-align: left;
    p {
      padding-top: 15px;
    }
  }

  .accomplishments {
    text-align: left;
  }
}

.links a:hover, .social a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .project {
    height: 40vw;

    .logo {
      font-size: 24px;
    }
  }

  section#projects {
    .projects-container {
      width: 90%;
    }
  }

  .main-text {
    width: 90%;
  }

  #scroll-to-projects {
    display: none;
  }
}
