
%ul#hacks{:style => "display:none;"}
  %li.header WeWrite
  %li.project-info
    %ul
      %li.description Collaborative, line-by-line storytelling
      %li.link
        %a{:href => "wewrite-ph.herokuapp.com"} Site

  %li.header Spritzify
  %li.project-info
    %ul
      %li.description Chrome Extension and iOS App allowing for spritzing of various blocks of text on the web accompanied with an analytics frontend
      %li.link
        %a{:href => "spritz-it.herokuapp.com"}
      %li.description First Place at LA Hacks - Spritz API Prize

  %li.header Netbin
  %li.project-info
    %ul
      %li.description Command Line file-sharing utility over LAN
      %li.link
        %a{:href => "https://github.com/anshizzle/netbin"}
