
%ul#other{:style => "display: none;"}
  %li.header SB Hacks
  %li.project-info
    %ul
      %li.description 550+ attendee hackathon at UCSB managing a budget of $90+K
      %li.link
        %a{:href => "sbhacks.com"} Site
