%ul#startups
  %li.header Capyx
  %li.project-info
    %ul
      %li.role CTO/Co-Founder
      %li.links
        %a{:href => "www.capyx.com"} Site
        %a{:href => "demo.capyx.com"} Demo

  %li.header Shnack
  %li.project-info
    %ul
      %li.role CTO/Co-Founder
      %li.links
        %a{:href => "shnackapp.herokuapp.com"} Site

      %li Finalist in University Mobile Challenge 2014
      %li SemiFinalist at UCSB New Venture Competition 2014
      %li Worked to build iPhone + iPad application as well to place and receive orders.
