
.row
  .col-md-4.col-md-offset-4
    .text-center

      .aj-bitmoji
      %h1 Hi, I'm AJ
-#
-# .row.headers
-#   .col-md-4.toggle-header{"data-toggle" => "#startups"}
-#     Startups
-#
-#   .col-md-4.toggle-header{"data-toggle" => "#hacks"}
-#     Hacks
-#
-#   .col-md-4.toggle-header{"data-toggle" => "#other"}
-#     Other
-#
-#
-#
-# .row.info
-#   .col-md-12
-#     = render :partial => 'application/startups'
-#     = render :partial => 'application/hacks'
-#     = render :partial => 'application/other'
